*.csproj
*.pidb
*.sln
.DS_Store
Library/*
Publish/*
Temp/*
Screenshots/*
obj/*
UnityPackageManager/*
Video/*
*.userprefs
*.unityproj
*.sublime-project
*.sublime-workspace
Logs
.vs/StoneSoup/v15/Server/sqlite3/db.lock
.vs/StoneSoup/v15/Server/sqlite3/storage.ide
.vs/StoneSoup/v15/Server/sqlite3/storage.ide-shm
.vs/StoneSoup/v15/Server/sqlite3/storage.ide-wal
.vs/StoneSoup/v15/.suo
StoneSoup.sln
StoneSoup.sln
StoneSoup.sln
.vs/StoneSoup/v16/.suo
